* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid transparent;
}

header {
  background-image: url(./beach.jpg);
  background-size: cover;
  height:100vh;
  font-size: 1.5em;
  color: #926239;
  text-align: center;
}

header {
  padding-top: 300px;
}

.btn {
  display: inline-block;
  color: #926239;
  padding: 10px 20px;
  text-decoration-line: none;
  border: 2px solid #926239;
  border-radius: 15px;
}

.btn:hover {
  display: inline-block;
  color: #ffffff;
  background-color: #704d2e;
  padding: 10px 20px;
  text-decoration-line: none;
  border: 2px solid #704d2e;
  border-radius: 15px;
}

.main {
  font-size:1.2em;
  text-align: center;
}

.section-1 {
  margin: 0;
  color: #fff;
  padding: 30px 30px;;
  background-color: #926239;
}

.section-2 {
  margin: 0;
  color: #926239;
  padding: 30px 30px;
  
  background-color: #fff;
}

.section-3 {
  display: inline-block;
  color: #926239;
  background-color: #fff;
  width: 33%;
  padding: 30px 30px;
}

.section-4 {
  display: inline-block;
  color: #fff;
  background-color: #926239;
  width: 33%;
  padding: 30px 30px;
}

.section-5 {
  display: inline-block;
  color: #926239;
  background-color: #fff;
  width: 33%;
  padding: 30px 30px;
}